@import "tailwindcss";

@theme {
  --font-logo: "ARCO", "Serif";
}

@font-face {
  font-family: Candy;
  src: url("./assets/Candy.otf");
}
@font-face {
  font-family: JejuMyeongjo;
  src: url("./assets/JejuMyeongjo-Regular.ttf");
}
@font-face {
  font-family: ARCO;
  src: url("./assets/ARCO.ttf");
}
